*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
    background: transparent;
    font-family: 'Poppins', sans-serif;
}

body{
    background: rgb(0, 0, 0);
    color: rgba(32, 32, 32, 0.048);
    overflow: hidden;
    overflow-y: scroll;
}