.navbar{
    background: rgb(30, 30, 30);
    height: 5rem;
    width: 100vw;
    max-width: 75rem;
    margin: 0;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top:0;
    z-index:3;

}

.logoP{
    object-fit: cover;
    height: 3rem;
    width: 4rem;
}

.desktopMenuListItem{
    margin: 1rem;
    cursor: pointer;
}

.desktopMenuListItem:hover{
    color: #f5f5dc;
    padding-bottom: 0.5rem;
    border-bottom: 3px solid #f5f5dc;
}

.desktopMenuBtn{
    border: none;
    display: flex;
    padding: 0rem;
    border-radius: 2rem;
}
.desktopMenuImg{
    object-fit: cover;
    height: 3rem;
    width: 8rem;
}